.index-wrapper {
  text-align: center;
  color: white;
  box-shadow: 0px 0px 16px #3e3e3e;
}

.post-content {
    background-color: rgba(210, 210, 210, 0.18);
    margin: 0;
    padding: 10px;
    margin-top: -65px;
    height: 100px;
    color: black;
}

h2 {
    font-size: 85px;
    text-decoration: line-through;
    text-decoration-color: #d23333;
    color: black;
    background-color: rgb(232, 232, 232);
    font-weight: 300;
    text-decoration-style: double;
    padding: 5px
}
