<!-- Flexbox wrapper for the whole page content -->
<div class="page-wrapper">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
<!-- Flexbox wrapper for the form -->
  <div class="form-wrapper">
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, placeholder: "example@gmail.com" %>
<!-- Inside Form to get the same size as input fields (buttons with the links) -->
      <div class="button-column">
        <%= f.button :submit, "Reset password", class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
