
<div class="banner">
  <div id="banner-home">
    <div class="banner-content">
     <h1>Snob Shop</h1>
      <p>Buy or sell items for real snobs</p>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= link_to items_path do %>
              <div class="btn-wrapper" id="v">
                <h3> Buy</h3>
              </div>
            <% end %>
          </div>


          <div class="col-xs-12 col-md-6">
            <%= link_to new_item_path do %>
            <div class="btn-wrapper" id="m">
              <h3> Sell</h3>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--       <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">SNOB SHOP</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="page1.html">Buy</a></li>
            <li><a href="#">Sell</a></li>
          </ul>
        </div>
      </nav> -->


