.card-image {
  width: 200px;
}

.card {
  color: rgb(76, 74, 74);
  text-align: center;
  background-color: white;
  margin: 15px auto;
  max-width: 400px;
  box-shadow: 0px 0px 16px #3e3e3e;
h3 {
  color: rgb(76, 74, 74);
  margin-top: 20px;
}
p{
  color: black;
  margin: 0;
}}

.price {
  position: relative;
  display: flex;
  top: -30px;
  left: -10px;
  background-color: #2c613a;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  text-transform: uppercase;
  /* align-items: center; */
  justify-content: center;
  box-shadow: 0px 0px 8px #737373;
}

.card:hover{
.price {
  position: relative;
  display: flex;
  top: -30px;
  left: 0px;
  background-color: #2c613a;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  /* align-items: center; */
  justify-content: center;
  box-shadow: 0px 0px 12px #737373;
}}



.image-fit {
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 335px;
  box-shadow: 0px 3px 8px 0px rgba(128, 128, 128, 0.89);
}

.default-fit {
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 335px;
}


.image-place {
  height: 335px;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 500px) {
.image-place{
  height: 200px;
}
.image-fit {
  max-height: 200px;
}
.default-fit {
  max-height: 200px;
}
}

#add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 434px;
  max-width: 400px;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("add.png");
  background-size: 3em;
  margin: 15px auto;
  .price {
    width: 100%;
    top: 0px;
    left: 0px;
  }
}

#premium {
  background-color: gold;
}
